.img__container img{
    height: 500px;
    width: 100%;
    margin-top: -60px;

}
.image__container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background:linear-gradient(25deg,rgb(0,0,0),rgb(2, 76, 170));
}
.image__container h2{
    text-align: center;
    color: #ffffff;
}
.image__container p{
    color: #ffffff;
    padding: 10px;
    line-height: 1.5;
}
